@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_parallax {
  background-image: url("./assets/parallax/bg_parallax.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.doodle {
  background-image: url("./assets/parallax/doodlenew.webp");
  background-position: center;
  background-repeat: repeat;
  background-size: 1280px;
}

.doodlenav {
  background-image: url("./assets/doodlenav.webp");
  background-position: center;
  background-repeat: repeat;
  background-size: 640px;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  /* Code for Firefox */
  background: #64bfb3;
}

::selection {
  background: #64bfb3;
}
